body{
    font-family: arial, sans-serif;
    margin: 20px;
}
h1{
    color: #723f3f;
    margin-left: 80px;
}
 
button{
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #e0c5c5;

}
 
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

